.backButton{
        background-color: #202020;
        border-radius: 10px 10px;
        border: none;
        color: white;
        margin: 1%;
        font-family: "excludedregular-font";
        
}

